

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
  }

  .book-item {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid gray;
  }

  .books-container {
    width: 60%;
    margin: auto;
    margin-top: 20px;
  }
</style>

<div class="content" role="main">
  <div class='books-search'>
    <input type="text">
  </div>
  <div class='books-container'>
    <div class='book-item'>
      <div class="title">[TITLE]</div>
      <div class="description">[DESCRIPTION]</div>
      <div class="action">
        <button mat-button >Add To Bookshelf</button>
        <button mat-button >Update</button>
      </div>
    </div>
  </div>
</div>
